<div style="background-color:#353940; padding: 20px 30px; color: #fff; text-align: center; font-family: sans-serif !important;">
  <strong style="display: block;">
    Você foi convidado para participar do time {{ team }} por {{ user }}.
  </strong>
  <p style="color:#B9BBBE;">
    Para criar sua conta e participar
  </p>
  <a href="http://localhost:3000/signup" style="display: block; margin: 0px auto; width: 100%; max-width: 120px; text-decoration: none; padding: 10px 15px; color: #fff; background-color:#7289DA; border-radius: 4px;">Clique aqui</a>
</div>
